[2013-01-29 12:28] davekinkead opened #1 "Rspec vs Minitest"
A comparative glimpse at the strengths and weaknesses of both testing frameworks

[2013-01-29 12:30] davekinkead opened #2 "Creating a RubyGem"
Open source is awesome sauce.  By the end of this session you'll know how to write, test, package, & distribute your first RubyGem.  Goodies covered will include Bundler, Minitest, & rubygems.org.  The result will be something completely useless but it will most certainly involve kittens or unicorns.

[2013-01-31 04:56] nigelr opened #3 "Dealing with UTF-8"

[2013-02-06 03:59] nigelr opened #4 "ransack searching and sorting gem"

[2013-02-16 01:12] ltw opened #5 "JRuby in a High Scalability Environment"
Over the past year, I've been building and scaling four JRuby services to handle about 450,000 requests per minute each, while working in a HA environment. I've developed a zero-downtime deployment process, and built a workflow that allows API client gems to get all their interaction information from a published JSON schema for each service.

There's been a bunch of interesting learnings during th

[2013-02-24 06:45] newmana opened #6 "Using Stomp, ActiveMQ, Rails and Websockets"
Brief look at some of the options available for websockets on Rails and a solution that I've been mucking around with:
https://github.com/newmana/notifications

[2013-02-25 12:22] #6 closed, assigned to nobody

[2013-02-25 21:59] ridget opened #8 "Welcome to Ruby, now where do I start?"
There's been a bit of discussion lately on how it's harder than ever to start out with Ruby and Rails. It seems everyone's got an opinion on whats omakase vs what works for them. I'd like to do a talk on where I ended up approaching things from and how to tailor your learning approach to what problems you're trying to solve and your learning styles.

[2013-02-28 00:42] #3 closed, assigned to nobody

[2013-02-28 00:49] nigelr opened #9 "Ruby Debug"
Lachlan Pitts offered at the 25/2 meetup
@davekinkead

[2013-03-03 08:32] jamiecook opened #10 "Interfacing to C++"
I'd like to do a talk on compiling C++ code for ruby.

The swig tool allows you to create language specific interfaces (ruby/python/octave/etc) for your C++ classes.

I've got a gem I'm writing for Machine Learning (https://github.com/vlc/ml4r) which should provide some good examples

[2013-03-03 09:34] davekinkead opened #11 "ActiveModel without migrations"
Happy to do a quick talk on using elasticsearch as a persistent data store for ActiveModel so you can get full text search whilst never worrying about migrations.

[2013-03-11 23:15] nigelr opened #12 "Mobile View Generation"
Talk about how to display different views dependent if the device is a Desktop or Mobile Device.

[2013-03-28 03:59] jamesottaway opened #13 "APIs without Rails"
I've been working on a side project recently in which I needed to build an API but was getting sick of Rails bloat.

I ended up going with Grape for the API instead of Rails, and Curator for the domain model and persistence layer, instead of ActiveRecord.

The API is only in its infancy but I've already learnt heaps about structuring an app to use these gems over falling back to the `rails new foo

[2013-03-28 06:38] #5 closed, assigned to nobody

[2013-03-28 06:38] #8 closed, assigned to nobody

[2013-04-05 09:21] DylanLacey opened #14 "Testing Mobile Apps with Capybara"
This can be either a talk or a Lightning talk

[2013-04-23 11:59] #12 closed, assigned to nobody

[2013-04-23 11:59] #9 closed, assigned to nobody

[2013-04-27 03:39] nigelr opened #16 "rspec matchers"
How to make your own rspec matcher

[2013-04-27 03:44] nigelr opened #17 "Rails patterns - many to many"
Related tables

contacts
tasks
where many contacts can be assigned to a task.
* using the create and destroy action on the join table for assigning
* sharing a index partial

[2013-04-27 03:45] nigelr opened #18 "Optimisation of selections gem with factories"
Demo how I found the optimisation

[2013-04-30 06:27] nigelr opened #19 "InstallFest..."
http://reinteractive.net/posts/35-reinteractive-installfest-evening-2
http://reinteractive.net/posts/33-reinteractive-launches-ruby-on-rails-installfest

[2013-05-07 05:50] mattconnolly opened #20 "Messaging with ZeroMQ!"
I've been playing with ZeroMQ a bit recently and will prepare a talk on this one.

Specifically, I've been working with the "rbczmq" gem and have made some contributions to it that have been accepted.

If I don't get enough time to put it together for May (or if we're too full), I'll do it in June.

[2013-05-08 05:30] mattconnolly opened #21 "Deployment: Passenger vs thin vs puma vs unicorn vs webrick???"
I'd love to hear a talk / panel / discussion on what tools people use to host production versions of their app. And of course why...

[2013-05-14 04:56] jp opened #22 "Tales of the use of Redis in a high traffic rails app"
Redis is an awesome key-value store, very useful for caching and configuration persistence.

This is about the way NetEngine use Redis in a production app. A bit of NoSQL and High Availability architecture.

If the "what you should do" part is a bit short as other people in my team developed on Redis a lot more, the "what you shouldn't do" part is rather big.

[2013-05-21 12:57] #11 closed, assigned to nobody

[2013-05-21 23:47] #13 closed, assigned to nobody

[2013-05-21 23:49] jamesottaway opened #24 "Selenium-WebDriver and Watir-WebDriver"
How to use them. Why they're awesome.

Why you shouldn't use Capybara.

Page objects: because coupling is bad!

[2013-07-15 06:04] #20 closed, assigned to mattconnolly

[2013-07-25 23:09] #1 closed, assigned to nobody

[2013-08-07 00:51] daphsta opened #26 "RSpec Mocks"
Would like to hear a talk on mocks vs stub at a beginner level

[2013-08-21 02:16] nippysaurus opened #27 "Overview of test frameworks and what they are good for."
I would like to have an overview of all the test frameworks and what they are good for.

- which ones come with ruby/rails versions
- which ones actually extend existing frameworks

[2013-08-22 10:49] #14 closed, assigned to nobody

[2013-08-25 03:04] DylanLacey opened #28 "New Section -- Code Deoderising"
I think it'd be worthwhile to have a 5 minute demo each meetup, showing how to fix a common code or test smell.

Suggestions for topics:
* Nested if confusion
* Overreliance on stubbing
* Incorrect scoping (eg Globals instead of Class variables)

[2013-08-25 05:08] zubinix opened #29 "The Bane of being a Test Automation Engineer (working title)"
Some comments on my experiences over the years of being a test automation engineer.

[2013-08-26 09:26] mattconnolly opened #30 "Security: exploit creation from discovery to shell"
Anyone interested in a guest speaker coming to do a talk on security exploits?

[2013-08-31 09:12] #22 closed, assigned to nobody

[2013-09-23 13:54] #29 closed, assigned to nobody

[2013-09-23 13:56] #24 closed, assigned to nobody

[2013-09-27 02:22] davidlumley opened #33 "Building an MVP with Sinatra"
I'm frequently asked how I would go about building X application, to which my answer is usually "build something simple in Sinatra and get people to pay for it".

Is anyone interested in a 20 to 30 minute talk / example about how to do this?
- minimum viable products and why they are important
- why Sinatra instead of Y framework
- building and validating features

[2013-10-05 11:23] coop opened #34 "Refactoring: Temp to Query and Intention Revealing Selector"
Recently I gave a live coding session to my colleagues on refactoring. I took two very well known techniques and applied them to a pull request that included a ~30 line method. That 30 line method ended up being reduced to ~9 lines, became much more understandable and we found a hidden class to extract.

Refactoring is the third step in the red green cycle and is something that we as developers ta

[2013-10-05 11:25] mattconnolly opened #35 "Rubinius 2.0"
I saw this today: http://rubini.us/2013/10/04/rubinius-2-0-released/

Does anyone use rubinius in production? If so, I'd like to hear about it…

[2013-10-17 09:37] mattconnolly opened #36 "gem 'whenever'"
I recently started using the 'whenever' gem. I could put together a lightning talk about this and integrating it with capistrano.

[2013-10-17 23:45] codesoda opened #37 "Rails vs 4000 hackers, what happens?"
I've been herding 4000 white hat security testers for the last 10 months and I've openly encouraged them to try and break our app.

Theres been a bunch of really interesting findings. I'd like to point out some of the problems we've had and what we've done to mitigate them.

[2013-10-19 07:18] iconnor opened #38 "Continuous Integration and Deployments"
Can show my current preferred stack that involves:
- Rails composer app
- Heroku
- Circle-CI

[2013-10-28 21:19] #36 closed, assigned to mattconnolly

[2013-10-28 21:21] #38 closed, assigned to nobody

[2013-10-28 21:24] #21 closed, assigned to nobody

[2013-10-28 23:05] #37 closed, assigned to nobody

[2013-11-08 06:03] #4 closed, assigned to nobody

[2013-11-08 06:05] #26 closed, assigned to nobody

[2013-11-19 03:29] iconnor opened #41 "Minimum javascript testing"
At the very least using the asset pipeline, you should make sure your javascript complies and does not crash the browser.

If you are using HAML or SLIM, this technique also servers as a sanity check there also.

Assumptions
- Using Rails 3 or 4 with asset pipeline
- rspec for testing
- optional: HTML or SLIM

[2013-11-19 13:22] #34 closed, assigned to nobody

[2013-11-19 13:23] #33 closed, assigned to nobody

[2013-11-20 05:35] katiejots opened #43 "Get your PaaS into gear"
If you're a developer who would rather spend your time coding than configuring servers it's worth getting up to speed with Platform as a Service (PaaS) technology. This presentation will give an introduction to PaaS, where it fits into the cloud ecosystem and how it can make you a happier and more productive programmer. It will include a demo of how to get a Ruby app up and running in the cloud in

[2013-11-21 23:08] davesag opened #44 "Would anyone be interested in a quick talk / demo of nanoc?"
Late last year I decided to build a simple static HTML website that pulls in some JSON data for its main functionality, and which spans about 3 little pages.  I really wanted to build it in a templated fashion and ideally wanted the core to be written in Ruby.  So after some hunting I came across [nanoc](http://nanoc.ws).

Nanoc impressed me with its simplicity, speed and flexibility.  I used it t

[2013-11-22 23:04] #41 closed, assigned to nobody

[2014-02-24 06:03] ridget opened #45 "Eager loading in rails"
Wouldn't mind giving a quick lightning talk on this, just a quick demo on eager loading in rails and when to use etc.

[2014-02-28 04:07] newmana opened #46 "Refactoring tables without breaking code"
This is a short talk on how to refactor database tables into smaller ones in a way that doesn't break existing Rails code.

[2014-03-02 02:50] michael-harrison opened #47 "Presentations & Code"
Hi all,
I wasn't able to make the last meetup and was wondering when the materials for the talks might be in the repo.  Thanks in advance.
Cheers,

Michael

[2014-03-03 10:08] ridget opened #48 "Creating application templates"
Sick of going through the same motions when creating a new rails app? Leverage the templates api to build up a reusable application template to save you time, and provide moar bacon.

[2014-03-17 06:37] ridget opened #49 "Mini Profiler"
Was utilising this gem on the weekend when looking at some optimisation, figured would make a great lightning talk.

[2014-03-17 09:23] #43 closed, assigned to nobody

[2014-03-17 10:38] darren-james opened #50 "Creating a QRCode Zip file download on the fly"
OK, I've not given a presentation at BrisRuby before, so here is my first go :)
I've recently implemented a feature on a web app requested by our printer to generate QRcodes for the print run and provide to them as images. Since I wanted to keep the implementation free from file uploads and storage, I did a bit of Googling and adapted a succinct bit of code to zip the generated QRcodes either as S

[2014-03-25 20:25] #48 closed, assigned to nobody

[2014-03-25 20:32] #47 closed, assigned to nobody

[2014-03-25 20:45] #18 closed, assigned to nobody

[2014-03-25 20:46] newmana opened #51 "Lucas Talks"

[2014-03-30 05:26] ridget opened #52 "Rails Presenters"
Hi all,

Am pretty interested in doing a talk on Rails Presenters if anyone's keen?

[2014-04-03 06:23] DylanLacey opened #53 "Professional Development Resource Section"
[code]

Thoughts?

[2014-04-07 06:05] michael-harrison opened #54 "Private Method Chaining WAT"
Another WAT for the collection :)

[2014-04-16 23:31] ghiculescu opened #55 "Intercom.io"
We've found [Intercom](https://www.intercom.io/) to be a huge win in being more in touch with new and existing customers. Would be happy to give a talk about it if others are interested.

[2014-04-23 01:26] iconnor opened #56 "Book review: Multi Tenancy Rails"
I could do a quick book review (lightning talk) about:

https://leanpub.com/multi-tenancy-rails

and how we are using these concepts to productize some custom backend APIs for mobile developers.

[2014-04-28 12:07] #46 closed, assigned to nobody

[2014-04-28 12:07] #51 closed, assigned to nobody

[2014-04-28 12:07] #54 closed, assigned to nobody

[2014-04-28 12:43] mattconnolly opened #57 "Using Errbit to track errors in an application"
I've recently been using "Errbit" to track application errors. This is an open source rails application that is compatible with Airbrake clients.

[2014-05-19 05:11] newmana opened #58 "Dr Nic talk"

[2014-05-19 07:30] codesoda opened #59 "Handling sensitive data in rails app"
We are storing sensitive data, encrypting at the application level, but still have requirements for searching that data. I can talk about how we store/encrypt it safely and then manage a secure search index as well.

Handy for anyone doing health / payment / security related works.

[2014-06-03 03:31] #49 closed, assigned to nobody

[2014-06-03 03:31] #58 closed, assigned to nobody

[2014-06-03 03:31] #59 closed, assigned to nobody

[2014-06-19 01:50] ridget opened #60 "Spring!"
Spring is part of rails as of 4.1, how does it compare to Zeus? Does it really in fact create 20% more brownies across the worldwide population?

Figured this could be fun as a lightning talk?

[2014-06-23 07:30] gnoll110 opened #61 "Thor talk"
Using the Thor gem for writing command line interfaces (CLI).

[2014-06-23 09:26] #10 closed, assigned to nobody

[2014-06-23 09:39] #57 closed, assigned to nobody

[2014-06-23 12:26] michael-harrison opened #62 "AngularJS and Rails"
Stories from the road of introducing AngularJS to a Rails Application.  Will aim to cover:
- getting started
- configuration for coffee and markup DSLs (e.g. Haml, Slim. etc)
- security
- testing

Might be in the class of a thunder talk but I can refine it

[2014-06-24 03:10] ridget opened #63 "Intro to validations"
A lot of newer people at the meetup last night, thought some beginner topics could be good. An expanded look at the different types of validations you can do is a nice simple one.

[2014-06-25 04:45] #44 closed, assigned to nobody

[2014-07-28 04:00] hackling opened #64 "Using the Application Driver pattern to test your application directly AND via its web interface"
The Application Driver pattern is one that @jonathonma and myself (@hackling) have been
using on a side project lately. Using cucumber and this pattern, we are able to
write features and step definitions once, while testing our application
directly, and through it's web interface in both headless and browser mode.

Using this pattern, we can identify all the business logic our application will
nee

[2014-07-30 00:49] #63 closed, assigned to nobody

[2014-08-07 23:21] #64 closed, assigned to nobody

[2014-08-09 20:58] nigelr opened #67 "Integrating your Dev Environment"
Can do this in September

[2014-08-21 23:19] tatey opened #68 "Walking through what's changed in Rails 4.2."
Now that the Rails 4.2 beta is out I think it'd be nice to walk through the practical benefits for everyday rails developers. I can keep this to < 10 minutes.

See http://weblog.rubyonrails.org/2014/8/20/Rails-4-2-beta1/

[2014-08-25 12:13] #62 closed, assigned to michael-harrison

[2014-08-25 22:42] #52 closed, assigned to nobody

[2014-08-27 22:27] #50 closed, assigned to nobody

[2014-08-27 22:27] #2 closed, assigned to davekinkead

[2014-09-21 04:38] gnoll110 opened #70 "REST in the assets directory: factoring Backbone in Rails"
Ideas on organising Backbone coffee script alone REST lines.
Wanna do it

[2014-09-24 23:40] ridget opened #71 "How your where's work"
Inspired by a talk and blog post by [Pat Shaughnessy](http://patshaughnessy.net/2014/9/17/20000-leagues-under-activerecord) would love to give a talk on some active record internals and take a look at how ActiveRecord converts your nice little methods into workable SQL.

[2014-10-02 22:58] #68 closed, assigned to nobody

[2014-10-02 23:16] hackling opened #72 "Integrating styleguide enforcement into current workflow"
At Ennova, we recently decided to trial [HoundCI](www.houndci.com)
For those that don't know, HoundCI is a fancy [Rubocop](https://github.com/bbatsov/rubocop) wrapper that integrates with Github and barks at you when you write poor code via inline comments.

Anyway, this talk could really go in any direction, but some things that might be interesting to show or discuss are:
  - A brief demonstrati

[2014-10-09 04:42] ridget opened #73 "Ember vs Rails"
Lightning talk on differences in language between Ember.js and Rails, i.e. Ember's router vs Rails router  etc etc.

Could be good one for next meet up as it's just before Camp.js

[2014-10-21 03:15] elliotthilaire opened #74 "On the fly processing with Dragonfly"
Continuing on from last months 'lightning talk' meetup, I can give a 5-10 minute introduction to using the Dragonfly gem for processing images / anything on the fly.

[2014-10-28 04:18] zubinix opened #75 "Load testing using selenium and typhoeus - over 2 meetups"
Will present over 2 consecutive meetups.

1. Lightening talk - Overview of the typhoeus HTTP client library.
2. Longer talk - Using selenium and typhoeus for load testing, maybe with an AWS (Amazon cloud) demo.

[2014-11-11 01:40] #73 closed, assigned to nobody

[2014-11-11 02:11] #30 closed, assigned to mattconnolly

[2014-11-16 22:53] markwiggles opened #76 "Ecommerce app using Spree, customise to existing website with Bootstrap"
Thinking about follow on from last brief talk at quiet meetup...

Show demo to get Ecomm site up and running in 5 mins.
Briefly discuss:
- Routing inside Spree
- Admin options - add/remove products, gateways etc
- Use Deface library to replace/extend views.
- Access Spree Controller helpers

...so about 10-15 mins.  Really don't get it with these labels - anyway - <strong> BEGINNER & WILL DO </str

[2014-11-18 22:25] daphsta opened #77 "Form Objects with Virtus"
Form Objects are intended to encapsulate the aggregation of multiple ActiveRecord Models. Avdi Grimm describes Form Objects as border guards whereby they validate and verify data that are coming into the system.
The Virtus gem works well in extending a ruby object(form object) with attributes that require type coercion which essentially ensures that attributes are saved with the correct type.
Form

[2014-11-24 07:24] nigelr opened #78 "ngrok - tunnelling to have a valid URL - lightning talk"
quick demo to show how to use it

[2014-11-25 22:46] #77 closed, assigned to nobody

[2014-11-26 06:48] #74 closed, assigned to nobody

[2015-01-13 08:21] #72 closed

[2015-01-13 09:43] markgandolfo commented on #76
+1
If you can add subscriptions to that talk I'll be even happier.

[2015-01-18 22:59] davekinkead commented on #76
@markwiggles did you want to present this talk on 27 Jan?

[2015-01-18 23:00] davekinkead commented on #61
@gnoll110 keen to do this in Jan? Let me know if you can.

[2015-01-18 23:01] davekinkead commented on #55
@ghiculescu would be great to hear a talk on effective comms with customers this month.  Are you up for 27 Jan?

[2015-01-18 23:07] jaymiejones86 commented on #76
+1

[2015-01-18 23:47] ghiculescu commented on #55
In Japan until the 2nd :(

Next one, promise!

Alex Ghiculescu
alex@tanda.co

Sent from my iPhone

[2015-01-19 00:54] markwiggles commented on #76
sure,  that will be ok  I can do for next Tuesday

Mark Wigglesworth ?
________________________________
From: Jaymie Jones <notifications@github.com>
Sent: Monday, 19 January 2015 9:07 AM
To: BrisRuby/meetups
Cc: Mark Wigglesworth
Subject: Re: [meetups] Ecommerce app using Spree, customise to existing website with Bootstrap (#76)

+1

-
Reply to this email directly or view it on GitHub<https://git

[2015-01-19 01:15] davekinkead commented on #55
Done!

[2015-01-19 01:16] davekinkead commented on #76
Excellent!

[2015-01-22 05:48] gnoll110 commented on #61
Yes, this talk go done late last year.

[2015-01-22 05:48] #61 closed

[2015-01-27 22:41] patassetbuilders commented on #76
Hi Mark

the web address is http://www.gotealeaf.com/
ps thanks for the talk last night.

Pat

[2015-01-28 04:41] RachelleOnRails commented on #67
:+1:

[2015-01-28 04:41] RachelleOnRails commented on #71
:+1:

[2015-01-28 04:42] RachelleOnRails commented on #19
It's happening!

https://www.reinteractive.net/posts/232-look-out-brisbane-we-re-coming

[2015-01-28 04:43] RachelleOnRails commented on #55
:+1:

[2015-01-29 01:44] markwiggles commented on #76
thanks Pat

I am checking it out webpage now..

- like the way they say "this is the last stop..."

Seems like a very well constructed program!

cheers

Mark

Mark Wigglesworth ?
________________________________
From: Pat James <notifications@github.com>
Sent: Wednesday, 28 January 2015 8:41 AM
To: BrisRuby/meetups
Cc: Mark Wigglesworth
Subject: Re: [meetups] Ecommerce app using Spree, customise t

[2015-02-01 04:32] ridget opened #81 "The BrisRuby Great Debate - Integrated Tests are a Scam"
Thanks to Nick from last months meetup, and the success of the head to head, thought it could be fun to have a BrisRuby debate over a contentious issue. Particularly if you are debating for the side that you dont necessarily agree with, thinking in a similar vein to the testing discussions that have been going on at present.

The topic was inspired by this post: http://blog.thecodewhisperer.com/20

[2015-02-01 04:45] NicholasTD07 commented on #81
:+1:

This should be fun! :laughing:

[2015-02-01 08:35] nigelr commented on #81
+1

[2015-02-10 06:16] Loordo commented on #55
:+1:

[2015-02-11 06:59] #76 closed

[2015-02-11 07:00] davekinkead commented on #55
Hope your back from the japow-pow @ghiculescu as you are booked in for this month.  Let me know if it's good to go

[2015-02-11 07:02] davekinkead commented on #27
Closing as covered in the Jan tête-à-tête

[2015-02-11 07:02] #27 closed

[2015-02-11 07:16] ghiculescu commented on #55
I am (a bit regretfully) back! When's the meetup?

[2015-02-11 09:20] davekinkead commented on #55
http://www.meetup.com/BrisRuby/events/219376007/

[2015-02-11 22:12] ghiculescu commented on #55
Yep, lock me in.

[2015-02-14 06:43] ridget opened #82 "Tools for remote pairing and where to find them"
So as part of my 52pairs project, half the battle has been in finding a tool for remote pairing that deals well with horrible upload speeds. This is a quick little talk about some of the services and technologies out there to make remote pairing a little easier.

[2015-02-17 00:12] hackling commented on #82
I've used SSH + TMUX + Vim + Google Hangouts (to talk) once or twice before. Not sure I'm qualified enough to talk about it though :D

[2015-02-17 00:18] ridget commented on #82
@hackling I've also had experience recently with screenhero and floobits, did you want to pair up on this one?

[2015-02-17 00:25] NicholasTD07 commented on #82
How does it work for two Vim users with different .vimrcs while pairing by using tmux and ssh?

And if you are using SSH and don't have an ideal type-response time(the time between you type a character and it actually being shown), I recommend having a look at [Mosh](https://mosh.mit.edu) and try it out.

[2015-02-17 00:36] ridget commented on #82
@NicholasTD07 afaik if you pair with someone on their tmux session, you're using their tmux and vim bindings

The SSH response time I'm getting is cool, its mainly upload speed issues with video/talk screensharing and remote desktop through screenhero which is the issue atm. So much so that I'm now investing time into tmux/tmate and floobits.

[2015-02-17 00:51] NicholasTD07 commented on #82
@ridget It must feel weird to be in someone else's Vim for someone like me who has a nearly 300 lines .vimrc file.

Floodbits looks promising to me. :laughing:

Love to learn more. Looking forward to your talk.

[2015-02-17 01:18] michael-harrison commented on #82
I've been pairing with reasonable success using a [TeamViewer](http://www.teamviewer.com/en/index.aspx) and Skype combo with all my team being remote.  TeamViewer tends to perform fairly well even at low bandwidth with one of my regular pairing session partners having **ADSL1**.  This allows us to transmit a high resolution screen (1920 x 1200) + audio.

[2015-02-17 01:19] ridget commented on #82
@davekinkead @nigelr any opinions on having a bit of a round table on this?

[2015-02-17 01:32] jasoncodes commented on #82
I’ve used tmux+vim over SSH many times with great success.

TeamViewer running in a VM for a shared web browser works pretty well. I tried ScreenHero but it dropped out all the time.

For audio, I’ve been using FaceTime Audio lately (on iPhone with headphones) with great success. Skype works okay but seems to burn a lot of CPU time.

[2015-02-17 01:45] davekinkead commented on #82
A round table seems like a good idea. Maybe few different people with a 5min pitch each for their preference, what they like & don't like etc.

If anyone is keen for this, pls comment with your name and preferred pairing tool.  2-4 people would be ideal

[2015-02-17 01:46] ridget commented on #82
@davekinkead ill put my hand up for floobits

[2015-02-18 00:39] davekinkead commented on #82
@jasoncodes @michael-harrison @hackling @NicholasTD07 are any of you keen to take part? It would be good at least to have someone pimping tmux+vim, mosh .... skype even?

[2015-02-18 01:52] NicholasTD07 commented on #82
@davekinkead I haven't done any remote pair programming. And I am with @ridget, I think Floorbits looks promising.

[2015-02-18 02:04] michael-harrison commented on #82
Just working out if I can make it to the meeting next week.  After doing a lot of years of remote programming I see a lot of solutions falling down on either they don't deal well with low bandwidth or if they do they lack the visual options when pairing on UI work.  Happy to share my experiences if I can make it.

[2015-02-19 06:17] hackling commented on #82
With regards to Vim and different keybindings,

A while back @jasoncodes and I (mostly @jasoncodes) worked on [Vim Locksmith](https://github.com/jasoncodes/dotfiles/blob/master/bin/vim-locksmith).

You'd have to be using [fresh](http://freshshell.com/) (which I hope you are if your `.vimrc` is that long), but basically, you can extract all the key mappings from someone else's .vimrc and apply them

[2015-02-20 10:04] ridget opened #86 "Getting started with lotus.rb"
We've all felt the friction of Rails when trying to apply OOD principles, that's why I'm kinda excited by [lotus](http://lotusrb.org/) which promises better adherance to SRP and more flexibility. Of course, I have no idea about it, so a talk seems like the best way to get up to speed.

[2015-02-20 23:00] michael-harrison commented on #86
Seems like there's a couple of new ruby frameworks evolving. Have you had a look at [volt](http://voltframework.com) which also has [Ruby Rogues Podcast](http://devchat.tv/ruby-rogues/193-rr-the-volt-framework-with-ryan-stout) ? Like Lotus it's in the early stages but worth a look in 😎

[2015-02-20 23:23] Loordo commented on #86
Volt looks awesome.

On Sat, 21 Feb 2015 09:00 Michael Harrison <notifications@github.com> wrote:

[2015-02-21 04:27] ridget commented on #86
@michael-harrison @Loordo either of you interested in doing a head to head on it? Maybe throw another framework in the mix?

[2015-02-21 04:59] Loordo commented on #86
I'm a bit to green. Someone with a bit more exp would be ideal!

On Sat, 21 Feb 2015 14:27 ridget <notifications@github.com> wrote:

[2015-02-21 05:13] michael-harrison commented on #86
@ridget I'll have to have a play with volt but it sounds like a good idea.  Each framework has a different approach, for example Volt is focused on simplifying application creation using isometric development (i.e. ruby on the server & the browser) where as Lotus is clearly focused on the server with a very clean DSL.  Maybe that's one of the focuses for the talk; the choices in approach we are so

[2015-02-21 05:14] ridget commented on #86
@michael-harrison you and I both. Haven't played with lotus yet. I think the different approaches to development could make for an interesting discussion.

[2015-02-24 07:34] davekinkead opened #88 "Make me a faviocon. Pretty please."
Any designer types able to turn our funky ruby logo into a favicon? http://brisruby.org/

I will love you long time if you do. Pinky promise.

[2015-02-24 11:12] NicholasTD07 commented on #88
Any specific requirement? Or just making it smaller?

[2015-02-24 11:27] davekinkead commented on #88
Nope just a small version of the icon we have.  Unless you can make it do something cool like vomit rainbows....

[2015-02-24 13:05] darren-james commented on #88
Have you tried just using a site like:
http://www.favicomatic.com/ <http://www.favicomatic.com/>

____________________________
Darren James
darren@corepoint.com.au
0423 915 225

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosu

[2015-02-25 06:27] nil0bject commented on #88
not sure if this is correct. just trying it out, so you have something and i have kinkea long time love
rename to favicon.ico

![favicon](https://cloud.githubusercontent.com/assets/953302/6365989/f4debcda-bd0a-11e4-89a1-96e9b6867588.png)

[2015-02-25 06:38] #88 closed

[2015-02-25 06:43] davekinkead commented on #88
So good. Much thanks @nil0bject

https://www.youtube.com/watch?v=12tce-THLUE&t=54s

[2015-02-28 10:53] ridget opened #91 "Sandi Metz's Norms"
Sandi Metz is the author of practical object-oriented design in Ruby (hereforth referred to as POODR, because everyone else does, and I really don't want to have to type it again).  In the book she re-introduces aspects of object-oriented design as it applies to the language, and later suggested some rules for developers to follow when working with their Rails applications.

In this talk we'll be

[2015-02-28 11:25] patrickgordon commented on #91
Nice! I'll check out the book too.

[2015-02-28 11:50] NicholasTD07 commented on #91
+1

[2015-03-01 09:45] patrickgordon opened #92 "Recommend books?"
Hey all,

We were chatting at the dinner about some books for learning Ruby / RoR and now I'm keen to dive in to a couple.

Can we get a list of recommendations going here?

Include the title, author, the exp level its aimed at, and your brief thoughts on what you think about it.

Cheers!
Patrick

[2015-03-01 10:10] ridget commented on #92
[Eloquent Ruby](http://eloquentruby.com) - Russ Olsen - Beginner/Intermediate - Excellent break down on some facets of the Ruby language, i.e. symbols, procs etc. Books very easy to read.

[Practical Object Oriented Design in Ruby](http://poodr.com)  - Sandi Metz - All skill levels - Fantastic book, not overly long, but covers a lot of ground SRP, composition, inheritance, refactoring, testing tec

[2015-03-01 10:57] NicholasTD07 commented on #92
@ridget Thanks for the list! Added to my reading list. :)

[2015-03-01 23:38] hackling commented on #92
With regards to rails, I found [Agile Web Development in Ruby on Rails](https://pragprog.com/book/rails4/agile-web-development-with-rails-4) invaluable. It just covers all the basics, and you can run through it at whatever pace you are comfortable with.

[2015-03-02 01:12] elliotthilaire commented on #92
This has been on my mind of a while. There are so many books to read and I can't decide which order to read them in.
 +1 for a quick book review segment at meetups.

[2015-03-02 01:27] patrickgordon commented on #92
Decided to give Eloquent Ruby a run first. Was enjoying it until I fell
asleep :^). Will pick it up again tonight for sure.

On Mon, Mar 2, 2015 at 11:13 AM Elliott Hilaire <notifications@github.com>
wrote:

[2015-03-02 01:34] davekinkead commented on #53
Moving discussion to #92

[2015-03-02 01:34] #53 closed

[2015-03-02 01:37] davekinkead commented on #92
All righty then, who is up for doing a 5-10 min review of a single book next month? I thought 2-3 people doing one book each might be a good format.

@patrickgordon - Eloquent Ruby?
@hackling - Agile rails?

Other takers?

[2015-03-02 01:44] patrickgordon commented on #92
Sure, happy to do it!

On Mon, Mar 2, 2015 at 11:37 AM Dave Kinkead <notifications@github.com>
wrote:

[2015-03-02 06:21] markgandolfo commented on #55
Out of interest, what is TheLocker? googling and I'm coming up with Lacrosse social networks

[2015-03-02 07:43] ridget commented on #92
For another great resource if youre learning Rails check out http://tutorials.jumpstartlab.com/ pretty much a full on curriculum.

[2015-03-03 01:18] darrenrogan commented on #55
That is theLocker, it is an American startup that is focusing on Lacrosse to start.

[2015-03-07 03:15] ghiculescu commented on #92
+1 would be keen to see this.

[2015-03-09 23:24] patrickgordon opened #93 "I'm stuck, anyone able to help?"
Hey all

I don't know if there's a email list, facebook group, or anything similar so I've resorted to putting an issue here... Sorry in advance if its not the right place :^)

I was wondering if anyone was able to give me a hand with some issues I'm having with stripe, rails, and rspec?

I've got a Q on stackoverflow open which explains what I'm trying to do:
http://stackoverflow.com/questions/28

[2015-03-09 23:47] ridget commented on #93
@patrickgordon I've put my response in there, happy to discuss further.

[2015-03-09 23:59] ridget commented on #93
@patrickgordon you can reach me at tom.j.ridge on Skype or tom.ridge@tworedkites.com

[2015-03-10 00:16] patrickgordon commented on #93
Legend. Thanks @ridget. I'll get in contact tonight.

[2015-03-10 09:55] ridget opened #94 "Suggestion: gitter chat"
Re latest issues on the repo, should we have these on the mailing list via the meetup or maybe we could look at setting up https://gitter.im for brisruby related chatter?

[2015-03-10 09:57] patrickgordon commented on #94
I really like gitter.  +1 for that

On Tue, Mar 10, 2015 at 7:55 PM ridget <notifications@github.com> wrote:

[2015-03-10 10:37] NicholasTD07 commented on #94
I have been thinking of creating a Slack team/organization for BrisRuby. How do you like it?

[2015-03-10 12:46] ghiculescu commented on #94
Great idea.

[2015-03-10 23:19] hackling commented on #93
It seems like there's a wealth of information on that SO answer, but for what it's worth, I used stripe-mock for my integration tests.

[2015-03-10 23:23] jamesottaway commented on #94
:+1: for a Slack team!

[2015-03-10 23:27] JaapRood commented on #94
We got the brisbane.slack.com team going, with a jelly channel, a js channel (although not properly populated yet), among some others too. If you think that's a good idea to keep all the Brisbane tech stuff under a team (we found with Jelly we just need a channel, not a whole other team), let me know. I can make whoever you'd like Admin who can invite everyone.

[2015-03-10 23:31] patrickgordon commented on #93
Definitely a valuable discussion! Tom and I remote paired last night and
smashed out moving to a service object. I will refactor my tests tonight
too. I'm very new to testing so it is taking me much longer than I'd like
but I'm starting to see the benefits for sure.

On Wed, Mar 11, 2015 at 9:19 AM Nicholas Chmielewski <
notifications@github.com> wrote:

[2015-03-10 23:33] ghiculescu commented on #94
Awesome. Can I get an invite? alex@tanda.co

[2015-03-10 23:33] patrickgordon commented on #94
@JaapRood can I cop an invite? patrick [at] fitquick [dot] co

[2015-03-10 23:36] JaapRood commented on #94
@ghiculescu @patrickgordon sent!

[2015-03-10 23:36] patrickgordon commented on #94
Thanks mate!

On Wed, Mar 11, 2015 at 9:36 AM Jaap van Hardeveld <notifications@github.com>
wrote:

[2015-03-10 23:57] NicholasTD07 commented on #94
I'd prefer a dedicated BrisRuby team. I like things properly organized and separated, like how classes should have a Single Responsibility.
One of the benefits of this dedicated BrisRuby team would be that we can have other channels to discuss other things, for example, great places to go or eat, while everyone know almost everyone else.

[2015-03-11 00:12] JaapRood commented on #94
@NicholasTD07 if you just equate a Channel with a Class (instead of a team) you get the same thing ;) You can also create private groups if you want to discuss something with a select few. We have yet to really find a need for them, channels tend to be big enough to talk about anything really, but it's certainly something you can do.

I think there's quite a bit of cross over between all the Briss

[2015-03-11 00:12] ridget commented on #94
@nigelr @davekinkead you guys want to weigh in on this.

[2015-03-11 00:18] NicholasTD07 commented on #94
@ridget Or maybe we could have a poll at next meetup?

[2015-03-11 00:58] zorfling commented on #94
@JaapRood can I get an invite too? zorfling@gmail.com
Cheers.

[2015-03-11 00:59] JaapRood commented on #94
@zorfling sent!

[2015-03-11 01:46] davekinkead commented on #94
I'll probably only ever log into one team.

I hate to agree with Jaap but when he's right he's right. Channels seem like they are sufficient.

--

Dave Kinkead
+61 431 946 160

On 11/03/2015, at 10:12, ridget <notifications@github.com> wrote:

[2015-03-11 01:50] ridget commented on #94
@davekinkead cheers. @JaapRood can you flick me an invite too please.

[2015-03-11 01:53] JaapRood commented on #94
@ridget done!

[2015-03-11 02:27] danieldraper commented on #94
@JaapRood can you send me an invite too please hello@danieldraper.com.au

[2015-03-11 02:39] JaapRood commented on #94
@danieldraper all set! I made @davekinkead an admin as well so he can send invitations as well (but please keep them coming, I'll be here all day :smile: ). If anyone else needs to be admin let him or me know.

[2015-03-11 02:50] #55 closed

[2015-03-11 02:51] #82 closed

[2015-03-11 03:24] felixclack commented on #94
@JaapRood I'm new here, but would love an invite too. felixclack@gmail.com please.

[2015-03-11 03:25] jamesottaway opened #95 "I Made A Thing: tmux-up"
I can do a lightning talk about a little shell script I put together recently.

See https://github.com/jamesottaway/tmux-up for all the spoilers.

[2015-03-11 04:20] colinrc commented on #94
@JaapRood I'm only semi-regular but could you invite me too....    colin AT colincanfield.me

Thanks!

[2015-03-11 04:37] JaapRood commented on #94
@felixclack @colinrc your invite is in the mail

[2015-03-11 07:46] ridget commented on #93
closing this issue.

[2015-03-11 07:46] #93 closed

[2015-03-11 11:09] krockode commented on #81
:+1:

[2015-03-12 10:05] tomjrob opened #96 "Customising GitLab as a basis for modhub.io"
Hi all,

It has been suggested to me (thanks @ghiculescu) that people here might be interested in a talk on how we customised (are are continuing to customise) the GitLab open source project to form the basis for [modhub.io](http://modhub.io) (my brisbane based start-up).

#### What is ModHub?
The idea behind ModHub is basically to bring distributed software engineering workflow (inspired by git)

[2015-03-12 10:10] ridget commented on #96
:+1: would be heaps keen to hear about this.

[2015-03-12 10:23] ridget commented on #95
:+1:

[2015-03-12 10:31] ghiculescu commented on #96
I'm obviously keen.

[2015-03-12 10:49] davekinkead commented on #96
Sounds cool

[2015-03-12 22:01] elliotthilaire commented on #96
Looking forward to it.

[2015-03-12 22:17] patrickgordon commented on #96
Great! Always keen to hear about more Brisbane start-ups.

On Fri, Mar 13, 2015 at 8:01 AM Elliott Hilaire <notifications@github.com>
wrote:

[2015-03-17 01:38] jamesottaway opened #97 "Lightning Talk: rspec-the"
I made a tiny gem to add some functionality to RSpec: https://github.com/jamesottaway/rspec-the

[2015-03-17 04:32] hackling commented on #97
While we are doing talks on rspec-related gems, I'd be happy to give a quick demo of https://github.com/hackling/run_it_back

[2015-03-17 04:33] ridget commented on #97
:+1: and :+1:

[2015-03-17 05:03] davekinkead commented on #97
Perhaps we could have some kind of treasure trove of a shiny gem spectacular this month - a 5 minute tour of various gems that everyone has made recently....

[2015-03-17 05:05] davekinkead commented on #94
Looks like everyone has migrated to the brisbane slack channels. Ping @JaapRood or myself for an invite...

[2015-03-17 05:05] #94 closed

[2015-03-17 05:14] davekinkead commented on #96
Sounds like an interesting talk @tomjrob. Can you do it this month (Tues 24th)?

[2015-03-17 05:16] davekinkead commented on #92
Okeydokey...

I'd like to have this happening this month.  If you are keen, please add your name & book below. Format would be 5-10mins including target audience, a general overview, what you liked, what you didn't. Doesn't need to be ruby per se, so feel free to include git, general CS etc

@patrickgordon - Eloquent Ruby
@hackling  - Agile Web Development with Rails
....

@ridget @ghiculescu @nig

[2015-03-17 10:10] ghiculescu commented on #92
It's not related to ruby at all... but I read Masters of Doom - http://en.m.wikipedia.org/wiki/Masters_of_Doom - pretty recently and it was awesome. Happy to chat about it.

(Though I can't come this Tuesday because it's the gf's birthday and I want to be allowed to go to future ones.)

[2015-03-18 04:23] tomjrob commented on #96
I sure can. How long do you normally want the talks to run for? And what kind of content is expected?

[2015-03-18 04:32] davekinkead commented on #96
Sweet. You have about 20-30 mins to talk followed by Q&A.

As to content...what problem were you trying to solve & how did you solve it (or didn't).  Tech or ruby content is a must but feel free to cover anything else you think is interesting like business/customer challenges.

[2015-03-23 04:35] davekinkead commented on #96
All good for tomorrow @tomjrob?

[2015-03-23 09:27] tomjrob commented on #96
Yep, yep. Should be fine. Will I need a slide deck, or is the go to just talk more conversationally?

[2015-03-23 10:37] davekinkead commented on #96
Conversation is fine but a deck would be great - even if it's a readme in markdown we can turn it into some like this http://brisruby.org/intercom/

[2015-03-25 06:29] jamesottaway commented on #97
Did this last night. Let me know if anyone has more questions about `RSpec::The`.

[2015-03-25 06:29] #97 closed

[2015-03-25 06:30] jamesottaway commented on #95
Did this last night. Let me know if anyone has more questions about `tmux-up`.

[2015-03-25 06:30] #95 closed

[2015-03-30 10:59] elliotthilaire commented on #92
Since I have had trouble sourcing most of the above mentioned books from libraries, I have been thinking of purchasing a few and then trying to share them out as much as possible, once I have finished reading them.

1. Does anyone already own any of the previously mentioned books they would be willing to share?

2. Would anyone like to split an order? Probably from Amazon.

[2015-04-19 07:03] #19 closed

[2015-04-19 07:04] nigelr commented on #96
thanks for the talk @tomjrob

[2015-04-19 07:04] #96 closed

[2015-04-28 20:39] ridget commented on #91
Will put slides up soon, but as promised heres a few links:

1. [RailsConf 2015 Vids](https://gist.github.com/seapy/8bc4e8a667578de8dffb)
2. [Refactoring, from good to great by Ben Orenstein](https://www.google.com.au/search?client=safari&rls=en&q=refactoring+from+good+to+great&ie=UTF-8&oe=UTF-8&gfe_rd=cr&ei=NO8_VaLlK7Du8wft0YHQBQ)
3. [Rules, by Sandi Metz](https://www.youtube.com/watch?v=npOGOmkx

[2015-04-28 23:38] elliotthilaire commented on #91
I bought the POODR book and I am a couple of chapters off finishing it.  I really don't like having books sit around not being used. Please, if you would like to read it let me know.

[2015-04-28 23:48] davekinkead commented on #91
Love to have a browse when you are finished @elliotthilaire

[2015-04-28 23:53] davekinkead opened #98 "RubyWars with BattleBots"
The repo is now up https://github.com/davekinkead/battlebots so fork it and make sure you watch it for any updates to the game rules that I arbitrarily decide to add.

If anything isn't clear, just add a comment on this issue and I'll respond and update the readme.

https://github.com/jlnr/gosu/ has all the instructions for the gem and dependencies. Everything is straight forward assuming you are

[2015-04-28 23:54] davekinkead commented on #56
Merging with #92

[2015-04-28 23:54] #56 closed

[2015-05-03 08:05] daphsta opened #99 "Things you should know after 2 years in your first Rails job."
## Ruby

###### 1. BLOCKS
* do..end, lambda, yield

###### 2. ENUMERABLES
* each,inject,collect,compact,concat,count,delete,delete_if,empty?,map,push,reverse,rotate,select,flatten,flat_map

###### 3. CLASSES/METHODS
* class methods, instance methods , class, modules, private methods, protected methods, instance variables vs class variables

## Rails

###### 1. CREATE AND SET UP A PROJECT
* set up

[2015-05-04 01:05] patrickgordon commented on #99
:+1: nice one @daphsta

[2015-05-04 01:21] hackling commented on #99
While this is nice, I would argue some of the stuff mentioned here. It's good to know all these things, but I wouldn't discourage anyone from applying for a junior position if they didn't feel they knew what everything on this list was.

I copied your original post and deleted out all the things I knew already, prior to getting my junior develop job. What's left is the things I didn't know already

[2015-05-04 01:25] patrickgordon commented on #99
Hey Nick
This was actually for a Junior Dev with 2 years exp. i.e. what you might
need to know at the end of your first 2 years as a junior dev

Patrick Gordon
Co-founder @ fitquick.co <http://signup.fitquick.co>
Blog @ medium.com <https://medium.com/@patrickgordon>

Mob: 0433 596 599
Email: patrick@fitquick.co

On Mon, May 4, 2015 at 11:21 AM, Nicholas Chmielewski <
notifications@github.com> wrot

[2015-05-04 01:27] hackling commented on #99
Oh, well that I completely agree with!

[2015-05-04 01:59] ghiculescu commented on #99
Would you still call it a "junior" job after 2 years?

I agree with Nick. This doesn't read like a junior list at all.

[2015-05-04 02:00] patrickgordon commented on #99
Well the idea is that you would be wanting to take a different role after
being a junior for two years. Read: a promotion.
On 4 May 2015 11:59 am, "Alex Ghiculescu" <notifications@github.com> wrote:

[2015-05-04 02:05] hackling commented on #99
I love the list, but the title is a bit confusing.
`Things you should know after 2 years on the Job`, or something to that accord might be a bit clearer.

[2015-05-04 02:07] patrickgordon commented on #99
Agree. I think that's a good title.
On 4 May 2015 12:05 pm, "Nicholas Chmielewski" <notifications@github.com>
wrote:

[2015-05-04 07:07] elliotthilaire commented on #99
I'd like to propose a few other activities for a new Rubyist to strive for in their first 2 years.
While not everything is accessible to everyone I think they are worth a mention.

 - Presented a talk at a meetup.
   (Excellent way to learn, teaching becomes more important as you level up)

 - Attended a Ruby or Rails conference.
   (Insight into the community that drives Ruby/Rails, and contacts

[2015-05-04 21:44] daphsta commented on #99
Thanks @patrickgordon and @hackling for the change in the title to clarify the intent of this list.
This is intended to guide a junior dev , so by the end of 2 years, these are what a junior should know. Please feel free to add on to this list.

[2015-05-04 22:42] michael-harrison commented on #99
Good stuff :) @daphsta why not turn it into a gist?

[2015-05-06 06:29] patrickgordon opened #100 "Any female devs interested in presenting to highschoolers?"
Peta from RCL sent this out to residents today. It could be a great learning experience for anyone interested in building their presentation / soft skills.

"I wondered if you knew someone who would be willing to speak to a small group of year 11 female students and explain about how they became a developer, what it is like to run your own business and to help support girls into IT.  I would be ex

[2015-05-06 06:39] mattconnolly commented on #100
Right across the road from where I went to school!

I’d love to help out, except that now living in California makes it impossible to be there in person. Video conferencing over FaceTime or something might be an option, but the timezone difference would be a challenge. Happy to explore if that option is possible….

-Matt

[2015-05-06 23:43] patrickgordon commented on #100
AFAIK This has been filled.

[2015-05-06 23:43] #100 closed

[2015-05-11 05:59] davekinkead commented on #98
Okey dokey.

The public API should now be stable....maybe.  But it's time start building and testing your bots :)

https://github.com/davekinkead/battlebots

[2015-05-23 00:35] davekinkead commented on #98
I've just made Michael Bay very happy and added lots of explosions....so start building your bots!

[2015-05-27 01:34] parameme commented on #99
Potentially relevant - https://www.codefellows.org/blog/this-is-why-learning-rails-is-hard

[2015-05-27 01:36] daphsta commented on #99
@parameme thanks. @elliotthilaire has almost mentioned the same resource

[2015-06-29 01:23] patrickgordon opened #101 "Using Inspectlet to solve UX issues"
It's not really Ruby or Ruby on Rails specific but more about how using an analytics tool can help solve issues you otherwise wouldn't know about.

We're using this with our product and I'd be happy to give a demo of how it works and how we used it to solve a real production UX issue.

Will also cover how to install and set it up (very easy).

[2015-06-29 01:25] patrickgordon commented on #101
I can't apply a label so it would be:
Beginner and Wanna Do It

[2015-06-29 01:25] ghiculescu commented on #101
:+1:  We have Inspectlet installed but don't look at it very much, so would be keen to see some tips on better ways to use it.

[2015-06-29 01:35] nicholasburge commented on #101
+1

[2015-06-29 01:41] ridget commented on #101
+1

[2015-06-29 02:30] #91 closed

[2015-06-30 05:18] patrickgordon opened #102 "Crash Course: EmberJS with Rails"
I'd really love a crash course on using the popular JS framework Ember with Rails.

I don't want to do it (because I know nothing about it) but I know there's a few regulars who are really on top of this (*cough* Geoff *cough*).

Alternatively: AngularJS or React with Rails.

[2015-06-30 09:56] nigelr commented on #102
@patrickgordon, @geoffreyd is doing an Ember talk at BrisJS next week..

[2015-07-28 22:52] patrickgordon commented on #101
Done last night.

Slides:
http://www.slideshare.net/PatrickGordon3/brisruby-inspectlet

[2015-07-28 22:52] #101 closed

[2015-07-29 00:33] encoreuser opened #103 "State of static analysis and linting tools"
When balancing features with their inevitable technical debt, knowing where to strike the balance is hard. I have spend the last 6 months talking with developers and startup founders about the ways they manage and keep this in check (or not as some openly admit).
Measuring and improving your code with a few key (open source) linting tools will make you a better developer and can also help catch so

[2015-07-29 00:34] iconnor opened #104 "State of static analysis and linting tools"
When balancing features with their inevitable technical debt, knowing where to strike the balance is hard. I have spend the last 6 months talking with developers and startup founders about the ways they manage and keep this in check (or not as some openly admit).
Measuring and improving your code with a few key (open source) linting tools will make you a better developer and can also help catch so

[2015-07-29 00:34] encoreuser commented on #103
Ignore this one - checkout #104 (was logged in as a test user)

[2015-07-29 00:34] #103 closed

[2015-07-29 00:42] jamesottaway opened #105 "Refactoring in Ruby"
@daphsta [shared a link in Slack](https://brisbane.slack.com/archives/ruby/p1438126980000076
) to some of her [favourite refactoring talks](https://infinum.co/the-capsized-eight/articles/best-ruby-on-rails-refactoring-talks).

I really like the idea of adapting one or more of these talks while we're focusing on beginner concepts.

I'm happy to present one or more, and I'm sure there are others who

[2015-07-29 00:44] iconnor commented on #105
Happy to tag team and show how to measure your refactoring via #104 static analysis.

[2015-07-29 00:46] ridget commented on #105
:+1 whilst I suspect I wont be in attendance for a while, happy to pitch in on this/would love to see it. Would some pattern intro talks be out of the question?

[2015-07-29 00:47] ridget commented on #104
:+1:

[2015-07-29 03:25] langsharpe opened #106 "#Timezones"
- What is time
- Useful representations of time
- What is a timezone
- How to handle timezones in your application

I'm putting my hand up to do this talk.

[2015-07-29 03:36] ridget commented on #106
:+1: I dont think i know of anyone who hasnt had a timezone issue theyve had to resolve.

[2015-07-29 08:00] gizotti commented on #105
:+1:

[2015-07-30 23:05] iconnor commented on #106
Getting DST right and calculating business time can also be tricky

[2015-07-31 00:34] hackling opened #107 "Debugging Tools/Strategies"
No one writes foolproof code. Eventually you're going to have to debug.

I thought it might be a good exercise to show case off some strategies and tools, especially for the beginners out there.

No one should have to do ALL their rails debugging in the view (like I did :unamused: when I first started).

[2015-07-31 00:35] ridget commented on #107
@hackling you're trying to tell me raise, puts and p arent valid debugging strategies? :trollface: Would love to see this :+1:

[2015-07-31 00:36] hackling commented on #107
I think this would be good if other people could bring their own tips to the party.

I was going to explain:
 - using raise to get information at a certain point
 - IRB
 - Rails Console
 - binding.pry (Gem)

[2015-07-31 00:37] hackling commented on #107
@ridget Actually, I'm going to tell you that they are. But beginners, especially those straight from Rails Girls, would have no idea about any of those.

[2015-07-31 00:39] ridget commented on #107
@hackling m8 now i just feel bad. not sure if youre including it, or someone else will bring to the party but remote-pry is also a++

[2015-07-31 00:57] hackling commented on #107
@ridget You should demo remote-pry :D

Personally, rather than me waffling on for 30 minutes, I'd love to see this as more of a collective of lightning talks that all share a similar topic/ theme.

Everyone debugs differently, and I'm sure many people will probably think how I do it could be improved.

[2015-07-31 01:01] patrickgordon commented on #107
Awesome - think if this is aimed at beginner this would be great.

:+1:

[2015-07-31 01:02] patrickgordon commented on #106
:+1: had to deal with this when I first started. PITA for a noob.

[2015-07-31 01:45] SorchaAbel commented on #107
yep definitely, great topic :)

On 31 July 2015 at 11:01, Patrick <notifications@github.com> wrote:

--
Sorcha Abel
IT Software Developer

T 07 3319 4430
E sorcha.abel@htw.com.au

Level 1, 811 Gympie Road, Chermside, QLD, 4032
PO Box 61, Chermside South, QLD, 4032

HERRON TODD WHITE | www.htw.com.au

--
Please consider the impact on the environment before you print this email

The information cont

[2015-07-31 02:06] ghiculescu commented on #107
Throw https://github.com/deivid-rodriguez/byebug into the mix too

[2015-07-31 02:13] michael-harrison commented on #107
First apologies to the bash purists but it might be worth showing how it's done in RubyMine with the [ruby-debug-ide](https://github.com/ruby-debug/ruby-debug-ide) gem

[2015-07-31 02:20] michael-harrison commented on #106
+1 I've dealt with this on a regular basis and it can be a trap for the uninitiated.  Rails does help out but doing it with just ruby can be a challenge :)

[2015-07-31 04:28] hackling commented on #107
Just to clarify, for those people saying "showcase X, cover Y, etc". If you know about it, and I'm not covering it in the few things I've mentioned above, I'm inviting you to do a bit about <debugging-tool> in the same talk.

[2015-07-31 04:30] hackling commented on #107
If someone knew how to do something similar to this, but in Sublime, that would be great too, as I suspect this the tool that most newbies use.

[2015-07-31 05:26] michael-harrison commented on #107
There is a debugger for Sublime: https://packagecontrol.io/packages/Ruby%20Debugger.  Will have a look at it over the next couple of weeks.  It's been a long time since I used Sublime but I believe I can get it working.

[2015-07-31 05:37] michael-harrison commented on #107
@hackling if you like you I'll do the IDE / Editor part of the talk

[2015-07-31 23:57] elliotthilaire commented on #78
Had to use this yesterday. +1

[2015-08-01 02:33] nigelr commented on #99
@daphsta thanks for your great work on this... It was an awesome conversation...

[2015-08-01 02:33] #99 closed

[2015-08-01 02:36] nigelr commented on #98
@davekinkead great work on preparing this and congrats to @elliotthilaire for winning...

[2015-08-01 02:36] #98 closed

[2015-08-01 02:38] nigelr commented on #102
@geoffreyd was a great overview of what Ember was... Do you want to do a 20 minutes practical on connecting Rails and Ember this month as a follow on?

[2015-08-01 02:43] nigelr commented on #106
@langsharpe awesome topic... I will put you down for the next BrisRuby on the 25th

[2015-08-01 02:46] nigelr commented on #107
@hackling I will put this on the list for the next BrisRuby (25th)... Can you please head it up and pick your area experts (eg. IDE, Pry etc).. I could be definitely done like a Panel of experts...

[2015-08-01 02:48] nigelr commented on #105
@jamesottaway can we put this down for Septembers BrisRuby (need to give you a break from talking otherwise we will burn you out)...
Ps. Awesome that you are back and doing talks again... Your talks are always well received.

[2015-08-02 00:47] michael-harrison commented on #107
Hi all, I'm happy to do the RubyMine section.  I can possibly do Sublime but I'm by no means a regular user (anybody out there?).

In general I think it would be good to have a common set of code that we're debugging and common set of aspects in debugging that we'll be covering.  This will allow the audience to get a feel for how each approach works without having to understand a new set of code a

[2015-08-02 00:49] patrickgordon commented on #107
That's a really good idea!
Looking forward to the RubyMine demo
On 2 Aug 2015 10:48 am, "Michael Harrison" <notifications@github.com> wrote:

[2015-08-02 02:45] michael-harrison commented on #102
+1 I'd really like to see how authentication works with something like devise

[2015-08-02 10:13] davekinkead commented on #107
+1

[2015-08-02 10:49] jamesottaway commented on #105
I'll be out of town for most of September, but you can lock me in for October.

[2015-08-03 04:47] hackling commented on #107
@nigelr Sadly I won't be in town August 25th as I'm expecting to be in Melbourne for about a month. I'm happy for someone else to take this topic and run with it in my absence.

[2015-08-04 09:53] jamesottaway opened #108 "Non-software backgrounds"
A recent blog post from Avdi Grimm details his experience with [conference talks which are only tangentially related to software development](http://devblog.avdi.org/2015/07/23/out-beyond-ruby-there-is-a-field-i-will-meet-you-there/).

I'm wondering whether any newcomers to BrisRuby have stories they wish to share regarding their backgrounds, and what led them to the Ruby community?

I spoke to a

[2015-08-23 06:57] elliotthilaire opened #109 "Photogenic Ruby"
I've been playing around with controlling my camera programmatically (and trying to use Ruby when doing do).

I've had mixed levels of success using various methods (USB, Infrared, Cable release) and devices (MacBook, Arduino, Raspberry Pi).

I could do a break down of the different ways to interface with a camera and the challenges I've come across when trying to achieve this using Ruby.

This wo

[2015-09-15 01:03] nigelr commented on #106
@langsharpe thanks for your talk last month

[2015-09-15 01:03] #106 closed

[2015-09-15 01:04] nigelr commented on #104
@iconnor thanks for your talk last month

[2015-09-15 01:04] #104 closed

[2015-09-15 01:05] nigelr commented on #102
@geoffreyd thanks for your talk last month

[2015-09-15 01:05] #102 closed

[2015-09-15 01:06] nigelr commented on #75
@zubinix when can you do this talk?

[2015-09-15 01:07] nigelr commented on #70
@gnoll110 can you do this talk this month?

[2015-09-15 01:26] ghiculescu commented on #104
@iconnor would the slides for this be available anywhere?

[2015-09-16 09:20] zubinix commented on #75
@nigelr November is do-able for me.

[2015-09-16 09:36] zubinix commented on #75
@nigelr Also I don't mind doing a lighting talk on the Typhoeus gem this month if you want.

[2015-10-07 01:44] davekinkead commented on #109
Cool talk! Ta.

[2015-10-07 01:44] #109 closed

[2015-10-07 02:06] davekinkead opened #110 "Re-Implementing Git with Ruby"
Learning the fundamentals of anything is critical to understanding it but I found git extra hard because the most common commands - the porcelain - are conceptually very different to the data model - the plumbing.

It all became (a little) clearer however when I rolled my selves up and got down and dirty in git's data model and tried to commit, branch, and merge manually.  So I thought it might be

[2015-10-07 02:07] ghiculescu commented on #110
:+1:

[2015-10-07 02:13] patrickgordon commented on #110
+1
I'm terrible at Git and it terrifies me.

On Wed, Oct 7, 2015 at 12:07 PM Alex Ghiculescu <notifications@github.com>
wrote:

[2015-10-07 02:24] SorchaAbel commented on #110
+1

On 7 October 2015 at 12:06, Dave Kinkead <notifications@github.com> wrote:

--
Sorcha Abel
IT Software Developer

T 07 3319 4430
E sorcha.abel@htw.com.au

Level 1, 811 Gympie Road, Chermside, QLD, 4032
PO Box 61, Chermside South, QLD, 4032

HERRON TODD WHITE | www.htw.com.au

--
Please consider the impact on the environment before you print this email

The information contained in this e-mail

[2015-10-07 02:32] gizotti commented on #110
:+1:

[2015-10-07 02:34] RachelleOnRails commented on #110
:+1:  Git scares me too.

[2015-10-08 00:46] tomjrob commented on #110
+1 Great Idea.

[2015-10-14 23:42] AmyHilaire commented on #108
Hi James,

I'm a Rails Girls graduate from a non-software background. I'm an occupational therapist, I work with kids who have disabilities. Since Rails Girls, I've been building a occupational therapy blog using Middleman with Rails. I'm not sure my story would be as interesting as Alpacas, but I'd be happy to share my experiences.

Amy

[2015-10-18 23:32] hackling commented on #110
Dave, you are a sucker for punishment. :+1: +1

[2015-10-18 23:33] hackling commented on #108
+2 to Amy sharing her experiences.

As a Rails Girls mentor, I love hearing anything about the people who went through the course.

[2015-10-18 23:36] davekinkead commented on #110
Turns out this was much harder than I thought :( But hey, it least I know way too much about git internals now...

[2015-10-18 23:37] davekinkead commented on #108
Are you happy to share your experience this month Amy?  Any other Rails Girls too?

[2015-10-19 00:21] hackling commented on #107
I'm in town this month! Shall we revisit this talk?

[2015-10-19 01:19] nigelr commented on #107
That would be great!

[2015-10-19 01:38] patrickgordon commented on #108
Would really like to hear this :+1:

[2015-10-19 01:38] patrickgordon commented on #107
Keen! :+1:

[2015-10-19 01:49] michael-harrison commented on #107
Sorry guys I'll be in Perth :(

[2015-10-19 02:19] AmyHilaire commented on #108
I'm sure I can put something together :-)
Would be glad for other Rails Girls to join me, or share your stories next
time...

Amy
On 19/10/2015 11:38 am, "Patrick" <notifications@github.com> wrote:

[2015-10-19 23:50] hackling commented on #107
@ridget Can you still demo remote-pry?
Does anyone want to cover Sublime, or Ruby-Mine (seeing as @michael-harrison will be away)

[2015-10-19 23:55] ridget commented on #107
@hackling would love to, but unlikely I'm going to be leaving the house any time soon, I'm going to dob in @geoffreyd for remote-pry though, as he's pretty switched on with it.

[2015-10-27 00:38] hackling commented on #107
I've suggested to @nigelr that we put this off until we have a few more participants ready to do this. Hopefully @michael-harrison and @ridget are back in town/ up to the task next month.

[2015-10-28 00:21] davekinkead commented on #110
Notes coming soon. Or soonish.

[2015-10-28 00:21] #110 closed

[2015-10-28 00:24] davekinkead commented on #108
Great talk @AmyHilaire. If you want to write a quick blog post about it, we could put that up on http://brisruby.org/talks/

Just a Jekyll/Minute man file is all that's needed :)

[2015-10-28 00:24] #108 closed

[2015-10-28 01:02] elliotthilaire opened #111 "Volt ⚡"
Following on from the discussion about comparing Volt and Lotus here:
https://github.com/BrisRuby/meetups/issues/86

I spent a day learning Volt http://voltframework.com/. It's quite different. I'm impressed and think it's worth it's own talk.

I'm keen to share and show it off.

[2015-10-28 01:09] nigelr commented on #110
Great talk @davekinkead was both an intro to GIT for people as well as seeing some of the backend intricacies

[2015-10-28 01:09] nigelr commented on #111
+1

[2015-10-28 01:14] SorchaAbel commented on #110
Thanks Dave, I thought it was a great talk :)

On 28 October 2015 at 11:09, Nigel Rausch <notifications@github.com> wrote:

--
Sorcha Abel
IT Software Developer

T 07 3319 4430
E sorcha.abel@htw.com.au

Level 1, 811 Gympie Road, Chermside, QLD, 4032
PO Box 61, Chermside South, QLD, 4032

HERRON TODD WHITE | www.htw.com.au

--
Please consider the impact on the environment before you print this emai

[2015-10-28 01:14] SorchaAbel commented on #111
sounds good

On 28 October 2015 at 11:02, Elliott Hilaire <notifications@github.com>
wrote:

--
Sorcha Abel
IT Software Developer

T 07 3319 4430
E sorcha.abel@htw.com.au

Level 1, 811 Gympie Road, Chermside, QLD, 4032
PO Box 61, Chermside South, QLD, 4032

HERRON TODD WHITE | www.htw.com.au

--
Please consider the impact on the environment before you print this email

The information contained in

[2015-10-28 01:20] elliotthilaire opened #112 "Contentful (Admin Interface as a Service)"
Feel like your repeating yourself re-implementing all the forms for an admin interface?

Contentful https://www.contentful.com/  is an 'API-first CMS'  They take care of the interface for admin/ content-creators and expose an API for you to consume and display the content/data in your app however you want.

I think this approach has a lot of merits. I'm keen to show it off if people are interested

[2015-10-28 01:22] nigelr commented on #107
Thinking of headlining with this next month, can all those involved confirm if they can make it
@hackling, @michael-harrison, @ridget, @ghiculescu  and anyone else who wants to join this panel..

[2015-10-28 01:26] RachelleOnRails commented on #110
Thanks @davekinkead . I learned a lot about how git works under the hood and now I feel considerably less scared of it.

[2015-10-28 01:40] patassetbuilders commented on #110
Hi Dave,
Great talk about what happens under the hood.
As an addendum

I  find that the GitHub Desktop for mac provides a good user experience, in
particular  local commits are very clear before making the changes to
remote repository. Great for newbies like me, reduces the number of
commands that have to be committed to memory.

That said, I also think the network graphic on the github website re

[2015-10-28 02:00] davekinkead commented on #110
Thanks for the feedback!

[2015-10-28 04:44] ridget commented on #107
@nigelr yep, count me in

[2015-10-28 05:23] patassetbuilders commented on #111
Looks impressive - certainly like to hear more

[2015-10-28 07:25] michael-harrison commented on #111
+1

[2015-10-29 05:23] hackling commented on #107
@michael-harrison Are you on the brisbane slack?

[2015-11-17 05:13] ridget commented on #107
@michael-harrison will you still be in perth for meetup next week? @hackling is trying to tie this together and we cant reach you on slack

[2015-11-17 05:32] hackling commented on #107
To be honest, if michael can't make it, it's all good. I think I under-estimated how much content I have.

[2015-11-17 08:32] patrickgordon commented on #107
Woo! Looking forward to this guys :+1:

[2015-11-17 08:44] michael-harrison commented on #107
Hey guys. I can most likely do next week. Just working out kiddy care now.

[2015-11-17 08:46] michael-harrison commented on #107
Did we end up getting a common code base for comparisons between the different options?

[2015-11-17 11:14] michael-harrison commented on #107
@hackling & @ridget Ok, I'm in.  Since this is a shared presentation here's what I'm thinking about covering:
- why / when should we use a debugger
- starting ruby script debugging
- starting rails script debugging
- basic break points
- conditional break points
- inspection of variables & utilisation of logs
- combination of rspec and debugger
- limitations for debugging

I thought about doing re

[2015-11-18 00:13] hackling commented on #107
@michael-harrison We invited you to a conversation on the Brisbane slack where we've been discussing it all.

[2016-04-21 23:37] equivalentideas opened #113 "Use Rails to fix bugs in our democracy"
Hi there 👋

Luke from the [OpenAustralia Foundation](https://www.openaustraliafoundation.org.au/) here. I'm going to be up in [Brisbane for the Hacks/Hackers meetup](http://www.meetup.com/Hacks-Hackers-Brisbane/) on May 25th.

I'd love to come meet the Brisbane crew and tell you a bit about our some of our Ruby and Rails projects like [They Vote For You](https://theyvoteforyou.org.au) , [morph.io]

[2016-04-22 01:30] patrickgordon commented on #113
Sounds interesting.
Thoughts @nigelr ?

[2016-04-24 04:01] nigelr commented on #112
thanks for the talk @elliotthilaire

[2016-04-24 04:01] #112 closed

[2016-06-05 22:33] ridget opened #114 "What would your team do round 2"
Plus one in here for any issue you'd like to discuss. We'll probably constrain it to one or two topics this time around, I've listed a suggestion thats already been supplied:

- [ ] git workflows
- [ ] Strategies for choosing a gem.

[2016-06-05 22:35] patrickgordon commented on #114
I've always wondered about gem selection in teams. Since I only work solo I just use gems whenever I think it'll save me time and solves the problem. But I suspect there's more to it then that when working on a production product in a team

[2016-06-05 22:36] michael-harrison commented on #114
+1

[2016-06-24 07:47] elliotthilaire commented on #111
I'm going to close this as I won't be able to demo.

Here is a summary:

I spent a day looking at Volt and made a supply and demand beer pricing app.
https://github.com/elliotthilaire/beer_market

Volt uses difference paradigms to Rails

   * You can read docs from top to bottom in a short period of time, I recommend this.
   * It's good for realtime apps.
   * Synchronization between client and s

[2016-06-24 07:47] #111 closed

[2016-07-26 04:23] davekinkead commented on #113
🏁

[2016-07-26 04:23] #113 closed

[2016-08-14 22:45] #35 closed

[2016-10-25 02:56] #16 closed

[2016-10-25 02:56] #17 closed

[2016-10-25 02:56] #28 closed

[2016-10-25 02:56] #45 closed

[2016-10-25 02:56] #60 closed

[2016-10-25 02:56] #67 closed

[2016-10-25 02:56] #70 closed

[2016-10-25 02:56] #71 closed

[2016-10-25 02:56] #75 closed

[2016-10-25 02:56] #105 closed

[2016-10-25 02:56] #114 closed

[2016-10-25 02:56] #107 closed

[2016-10-25 02:57] #86 closed

[2016-10-25 02:57] #78 closed, assigned to nobody

[2016-11-22 19:15] patassetbuilders opened #115 "Oauth 2"
Love to understand more about OAuth 2

[2017-01-27 05:24] danieldraper opened #116 "What would you like to know more about?"
I have a side project built in Ruby on Rails, its now over 2 years old. Would anyone be interested in hearing about the project and if so what specifically? You can checkout the site at www.memberhub.com.au.

Otherwise what topics are people interested in hearing about this year?

PS. If you try and sign-up its not an automated process and I will be emailing or phoning you.

[2017-02-02 22:34] ridget commented on #116
@danieldraper i'm pretty interested in hearing about how you've taken the initial project and dealt with legacy decisions and code as you've brought on users and how you've been managing that. What decisions have you made early on that's made bringing on new users and features easier/harder now?

[2017-02-21 04:33] nathanhoad opened #118 "What is your best MVC analogy for teaching beginners?"

[2017-02-22 23:38] lillypiri commented on #118
Here's mine:

<img src="https://s3.amazonaws.com/lillypiri/blog/MVC/big_mvc_barista2.gif">

[2017-02-27 11:29] ridget opened #121 "Organise yourself with Org-Mode"
So it's no secret I'm an Emacs kinda guy, whilst I mostly use it for Evil Mode, there's some pretty incredible other stuff available on tap.

One of those things is org-mode.

Im going to show you how to organise your life, your tasks, setup flash cards, clock your time and blog with REPL support, all using a text file.

This is not a talk to try and start a religious war over editors, but hopeful

[2017-03-22 09:53] ridget commented on #115
bump :) anyone else interested in hearing more about this?

[2017-05-09 04:40] davekinkead opened #124 "Programming, Power, & Politics"
Politics is about power.  It is the ability to influence social action - to charm, to leverage, to coerce. Whenever you alter power structures, you are engaging in politics.

Software is eating the world.  Startups innovate and they hustle.  They disrupt.  Google, Github, Uber - these are dramatic examples of how software alters existing power structures creating both winners and losers.

So it fo

[2017-06-19 09:14] ghiculescu opened #125 "Intro to rails i18n"
I wrote a blog post on the topic https://medium.com/tanda-developers/things-we-learned-translating-our-saas-product-24399b1aef48

But if anyone's interested, happy to do a talk too!

[2017-06-19 09:14] ghiculescu commented on #115
I can do this talk if you like.

[2017-06-20 00:28] DougFlemingAED opened #126 "Object serialisation with Oj"
Hey Tom, if you're still looking for topics, I'm happy to talk briefly about a Gem called OJ for object serialisation.

[2017-06-21 22:00] ridget commented on #126
DougFlemingAED this would be great thanks chief. We've got a lightning talk night this month,  could I book you in for next month?

Alternatively if its a lightning talk more than welcome to give it this month :)

[2017-06-21 22:09] ridget commented on #125
@ghiculescu this was an entertaining post, thanks for the write up, would love a talk. Would next month be ok ?

[2017-06-21 22:28] ghiculescu commented on #125
@ridget what would the date be? just gotta check if i'll be in town.

[2017-06-21 22:33] ridget commented on #125
@ghiculescu Tuesday July 25th @ 6:30pm

[2017-06-21 23:15] ghiculescu commented on #125
i'll be out of the country :( can i do the one after?

[2017-06-21 23:30] DougFlemingAED commented on #126
I can do a lightning talk about it, the main usefulness of the Gem can be summed up in just a few minutes with a quick example using pry or something.

Do your lightning talks usually involve quick demos?

[2017-07-02 23:50] ridget commented on #125
@ghiculescu works for me :) thanks for volunteering

[2017-07-02 23:51] ridget commented on #124
@davekinkead are you ok to give this talk this month?

[2017-07-06 04:37] davekinkead commented on #124
It's on like donkey kong @ridget!

[2017-07-07 00:19] kimburgess opened #127 "Crystal Lang - fast as C, slick as Ruby"
Heavily inspired by Ruby's syntax, Crystal is a statically typed, compiled language that emits native code via LLVM.

**tl;dr** it's ballin'

They're aiming for a 1.0.0 release by the end of this year. I'm still super new to it, but definitely watching it closely. I'd love to do a short talk and introduce others to why it's interesting and where development is at.

More info: https://crystal-lang.

[2017-07-07 00:20] ridget commented on #127
@KimBurgess would love to hear this, how long is a short talk though? I've tentatively got 2 speakers lined up for the next meetup, so if its a lightning I can fit you in, otherwise are you ok to speak next month?

[2017-07-07 00:23] kimburgess commented on #127
Happy to do either. What about a lighting talk as a quick intro, then can dive in deeper at some point in the future if there's general interest.

[2017-07-07 00:24] ridget commented on #127
@KimBurgess that sounds great. Thank you for volunteering :) Can you let me know a quick working title, would like to advertise the next meetup on Monday

[2017-07-07 00:47] kimburgess commented on #127
No problems. Let's go with the one above.

[2017-07-11 05:53] jamiecook commented on #127
I'd be keen to hear more about Crystal - it sounds like a pretty good
tradeoff between ruby/C

*Jamie Cook*
Software Team Leader

*Veitch Lister Consulting*
Level 5, 200 Mary Street, Brisbane QLD 4000
PO Box 15080, City East, QLD 4002
*T* +61 7 3870 4888 <+61%207%203870%204888> *M* +61 418 772 610
<+61418772610> *W* www.veitchlister.com.au

<http://www.veitchlister.com.au/>
<https://www.linkedin.c

[2017-08-02 10:11] ridget commented on #124
@davekinkead can you flick me a link to your slidedeck?

[2017-08-02 10:12] ridget commented on #125
@ghiculescu still interested in giving this talk in August?

[2017-08-09 00:40] davekinkead commented on #124
Sorry for the delay — new MacBook so I need to transfer it from my old one.

[2017-09-18 23:56] angusscown opened #128 "Introduction to Background processing"
It's not always clear to web developers when you should use background work rather than doing things inside a web request.

This talk gives an overview of why we take things out of the web request and then will go into some sidekiq specific implementations.

I've been using Sidekiq and before that delayed job and before that.....

[2017-09-21 22:57] ridget commented on #128
@angusscown Would you be keen to present this next month in October?

[2017-09-22 08:29] angusscown commented on #128
I've got a bit of travel in October. What date?

On 22 Sep. 2017 08:57, "Tom Ridge" <notifications@github.com> wrote:

[2017-09-29 22:38] Mbuckley0 opened #129 "Initial Commit."
It’s easy to build another DHH blog post example, but what do the first 10 commits look like when you’re building a ‘real’ application for ‘real’ business needs.

[2017-09-29 22:38] #129 closed, assigned to nobody

[2017-09-29 22:43] Mbuckley0 commented on #129
https://speakerdeck.com/mbuckley0/2017

[2017-10-03 09:18] ridget commented on #128
@angusscown Tues Oct 24.

[2017-10-05 03:48] web-goddess opened #130 "The Campsite Rule - Leaving the Tech Industry Better than We Found It"
I'm trying to plan a quick trip to Brisbane later this month and realised I'll be there for the October meetup. I could do a cut-down version of the keynote I gave at DDD Perth...

**The Campsite Rule - Leaving the Tech Industry Better than We Found It**
Improving the codebase for the next developer is a great goal, but what about making the industry better for the next generation? We all know the

[2017-10-05 04:34] ridget commented on #130
@web-goddess That would be fantastic, thank you! Meetup kicks off at 6:30, how long a slot would you like?

[2017-10-05 04:38] web-goddess commented on #130
Hey Tom! I'm going to attempt a 20 min version at Girl Geek Sydney next week, but call it 25 to be safe. :)

[2017-10-05 04:44] ridget commented on #130
@web-goddess perfect, thank you :)

[2017-10-05 04:45] ridget commented on #130
@web-goddess just in case, our projector works on a 4:3 ratio

[2017-10-05 04:50] web-goddess commented on #130
Thanks for letting me know! I'll see you then. I think you've got my email courtesy of Nigel, and my mobile number is in the signature if you need to reach me on the day...

[2017-10-09 00:13] ridget commented on #128
@angusscown can we confirm you at this point?

[2017-10-15 20:44] angusscown commented on #128
Tom, sorry mate.  I've been called to Melbourne next week.   If that
changes later in this week I'll let you know.

On Mon, 9 Oct 2017 at 10:13 Tom Ridge <notifications@github.com> wrote:

[2017-10-15 21:43] ridget commented on #128
@angusscown no worries :), I've got another speaker lined up, just wanted to give you first right of reply. Can we tentatively lock you in for November?

[2017-10-15 22:13] ridget commented on #127
@KimBurgess I'm closing this issue, thanks for your original talk. Can you open a new issue if you'd like to do that deeper dive in future?

[2017-10-15 22:13] #127 closed, assigned to nobody

[2017-10-17 04:00] developersteve opened #131 "Sneak peek at Telstra's new The Programmable Network"
Happy to do a bit of a demo if there's interest

[2017-10-17 04:18] ridget commented on #131
@developersteve sounds great. You free to talk this coming Tuesday?

[2017-10-17 04:23] developersteve commented on #131
@ridget yup saw the call out for lightning talks and thought it might be a good op to show it off a bit (its freaking cool).

[2017-10-17 04:37] ridget commented on #131
@developersteve thanks! Just about to send the mailout too :)

[2017-10-17 22:00] #121 closed, assigned to nobody

[2017-10-17 22:00] ridget commented on #92
Closing this thread. Although it's super useful, I'm gonna try and keep our issues a bit tidier. Thanks all for the great discussion.

[2017-10-17 22:00] #92 closed

[2017-10-17 22:01] #124 closed, assigned to nobody

[2017-10-17 22:11] ridget commented on #125
@ghiculescu is this a talk you're still interested in giving?

[2017-10-24 00:27] hjc1983 commented on #94
@JaapRood @davekinkead,  can I get an invite too? hjc1983@gmail.com
Cheers.

[2017-10-24 21:44] ridget commented on #131
@developersteve Thanks so much for your talk last night! Could we get a link to the slide deck please?

[2017-10-24 21:44] ridget commented on #130
@web-goddess thanks again for your amazing talk, can we please get a link to the slidedeck if possible?

[2017-11-04 23:42] web-goddess commented on #130
@ridget Hey Tom - sorry I missed this until now! Here you go: [https://www.slideshare.net/KristineHoward1/the-campsite-rule-leaving-the-tech-industry-better-than-we-found-it](https://www.slideshare.net/KristineHoward1/the-campsite-rule-leaving-the-tech-industry-better-than-we-found-it)

[2017-11-09 01:58] ridget commented on #130
@web-goddess thanks so much!

[2017-11-09 01:58] #130 closed, assigned to nobody

[2017-11-09 01:58] #131 closed, assigned to nobody

[2017-11-13 05:06] michael-harrison opened #132 "UI Integration Testing"
Been battling with integration tests and thought it would be good to share my experiences: the good, the bad and the ugly.  Any takers?

[2017-11-13 22:56] ridget commented on #132
@michael-harrison sounds great. Can we lock you in for this month's meetup please?

[2017-11-16 06:25] michael-harrison commented on #132
@ridget I'll be able to get something together.  Will let you know if it's a full talk or just a lightening talk after the weekend

[2017-11-20 09:07] ridget commented on #132
@michael-harrison can we get a talk title for the promo and is it lightning or full? Thanks!

[2017-11-25 05:47] michael-harrison commented on #132
@ridget sorry for the delay.  This week has been a busy week.  It'll be a full length talk.  The title for the talk will do for now but I'll most likely come up with something different for the night.

[2017-11-27 02:18] addstar34 opened #133 "Presenters"
A talk about what are presenters, why you should use presenters and how to implement a presenter.

[2017-12-07 21:59] ridget commented on #132
@michael-harrison can we get the slides from this one please?

[2017-12-07 21:59] ridget commented on #133
@addstar34 can we get a link to your slides please mate?

[2017-12-07 22:03] ridget commented on #126
@DougFlemingAED thanks for presenting your lightning talk mate, do you have a copy of your slides?

[2017-12-07 22:10] DougFlemingAED commented on #126
Hey Tom, sorry no slides for that one, Nigel asked me on the night if I wanted to talk about anything, and based on what we had discussed, I put my hand up for the OJ gem, but it was all just demo on the screen via terminal.

[2017-12-07 22:11] ridget commented on #126
@DougFlemingAED thanks for the amazingly fast reply, especially given the time since giving the talk. Going to close this one off then :)

[2017-12-07 22:11] #126 closed, assigned to nobody

[2017-12-07 22:13] ridget commented on #115
@patassetbuilders / @ghiculescu closing this one off as we've had no further discussion on it. Please open a new issue if you'd like to do or see this talk :)

[2017-12-07 22:13] #115 closed

[2017-12-07 22:13] ridget commented on #116
@danieldraper closing this as we've had no further discussion on this one.

[2017-12-07 22:13] #116 closed

[2017-12-07 22:14] ridget commented on #118
@lillypiri thanks so much for your input and amazing talk this year. I'm going to close this issue off as part of tidying up the issues for the new year. cc @nathanhoad

[2017-12-07 22:14] #118 closed

[2017-12-07 22:15] ridget commented on #125
@ghiculescu closing this issue, if you'd like to resubmit the talk, please open a new issue.

[2017-12-07 22:15] #125 closed, assigned to nobody

[2017-12-07 22:15] ridget commented on #128
@angusscown is this still a talk you'd like to give in the new year? Otherwise will close this issue off.

[2017-12-07 23:03] addstar34 commented on #133
@ridget this is funny because... here's my slides haha, I went the live coding route for my talk and took the minimalist approach for my slides.

![pasted image at 2017_11_27 12_14 pm](https://user-images.githubusercontent.com/13564150/33742912-46da6806-dbf6-11e7-8442-d6ffc0e1b71b.png)

[2017-12-07 23:04] ridget commented on #133
@addstar34 im sorry mate, i completely forgot about that. Closing issue :)

[2017-12-07 23:04] #133 closed, assigned to nobody

[2017-12-08 03:40] ajmcmiddlin opened #134 "Functional programming and Ruby"
I work at the [Queensland Functional Programming Lab (QFPL)](http://qfpl.io) in Fortitude Valley, and am keen to give a talk on functional programming (FP) in Ruby. I'd like to share my experience applying FP principles to Ruby, the problems and limitations you face, as well as where you can go to learn more.

I'd be covering something along the lines of:

 - What is functional programming
 - Why

[2017-12-08 03:53] ridget commented on #134
@ajmccluskey Thanks for volunteering, our next meetup is Jan 23rd. Would you be ok to give this then? Also I've labelled this as an intermediate talk, but feel free to let me know if that's incorrect.

[2017-12-08 04:06] ajmcmiddlin commented on #134
@ridget I can do Jan 23. Intermediate sounds fair, but I doubt my ability to judge that. I'll aim for some beginner content too, so hopefully everyone can walk away with something :).

[2017-12-08 04:27] jamiecook commented on #134
Be careful @ridget, I'm pretty sure it's a trap!

[2017-12-08 05:40] ajmcmiddlin commented on #134
@jamiecook is partly responsible for me knowing these things, so I suspect the trap he's referring to is that you might end up spending your evenings learning Haskell and want to use it at work :p.

[2018-01-09 02:06] #128 closed, assigned to nobody

[2018-01-10 13:23] drnic opened #135 "Testing and deploying Ruby with Concourse CI"
Concourse CI is an open source CI pipeline system that runs on your laptop and runs in your cloud infrastructure. It’s designed for pipelining from the ground up, every step is in an isolated container, and it’s quick to learn and powerful to live with.

[2018-01-15 00:37] ajmcmiddlin commented on #134
@ridget Just checking I'm still on to talk 2018-01-23. If so, how long is my slot?

[2018-01-15 02:30] ridget commented on #134
@ajmccluskey would love to have you! About 20-30 minutes for the slot.

[2018-01-15 02:30] ridget commented on #135
@drnic can we lock you in for this months meetup please? on the 23rd?

[2018-01-15 03:35] ajmcmiddlin commented on #134
@ridget Great, I'll see you all then :)

[2018-01-15 16:04] drnic commented on #135
Yep

________________________________
From: Tom Ridge <notifications@github.com>
Sent: Sunday, January 14, 2018 6:30:41 PM
To: BrisRuby/meetups
Cc: Dr Nic Williams; Mention
Subject: Re: [BrisRuby/meetups] Testing and deploying Ruby with Concourse CI (#135)

@drnic<https://github.com/drnic> can we lock you in for this months meetup please? on the 23rd?

—
You are receiving this because you were men

[2018-02-01 01:45] drnic opened #136 "Adding authorization to your Rails app with Github Teams"
We have been building an internal training system and wanted to control/partition sections. We decided to use github and it’s org/teams system and require all our staff to have github accounts. In this talk we’ll look at how to add github authentication (login) and authorization (permissions by membership of an org/team)

[2018-02-20 02:30] Mbuckley0 commented on #136
@drnic Are you available to do this talk this month on the 27th?

[2018-02-20 05:30] drnic commented on #136
Yep.

How long do you want the talk - 20-30 mins?

Nic

On Tue, Feb 20, 2018 at 12:30 PM, Mitchell Buckley <notifications@github.com

--
Dr Nic Williams
Stark & Wayne LLC
http://starkandwayne.com
+61 437 276 076
twitter @drnic

[2018-02-20 21:04] Mbuckley0 commented on #136
@drnic 20-30 minutes would be perfect.

[2018-03-20 00:36] hackling opened #137 "Cutting Corners"
A bunch of people know that I'm starting my own business and writing some software for myself.
In order to validate my idea, I've written some truly horrifying code, with even worse architectural decisions in order to ship an MVP.

I could do a tour of the nonsense I've written, the corners that I've cut, and explain why it's probably not the worst thing in the world.

No slides, just code (all in

[2018-03-20 00:36] hackling commented on #137
@ridget If I give this talk, you have to come.

[2018-03-20 00:42] hackling commented on #137
This talk:
- Can go for as long as people like etc
- Could be part of a series as I stumble through starting a start up
- Will not make you a better developer
- Is for anyone of any experience level
- Is a good excuse to laugh at me, my ideas, and probably realise you shouldn't hire me

[2018-03-22 23:27] nippysaurus commented on #137
10/10 would come to this talk

[2018-03-22 23:32] ridget commented on #137
@hackling will make sure you're scheduled on second so I can make it.

[2018-04-06 01:11] tatey opened #138 "Sprinkles of delight with StimulusJS"
I've been really fascinated by [StimulusJS](https://stimulusjs.org) because it closely lines up with the way I've been building web applications with Rails. It gives you a great way to hook into your page and enhance it with JavaScript.

I've used it on an old side project to sprinkle animations on flash notices and form buttons. It's a got a tonne more use cases, but I could wrap a 15 minute talk

[2018-04-15 10:21] Mbuckley0 commented on #138
@tatey Sounds great. Would you be able to give this talk at this months meetup on the 24th?

[2018-04-19 11:24] tatey commented on #138
Hello @Mbuckley0. Lock me in for the 24th. I'll work on slides over the weekend.

[2018-05-03 09:56] jawdinmorris opened #139 "Soft Skill : Fixed Mindset Vs Growth Mindset"
Hi,
I'm a new developer, currently studying at Coder Academy. I did a talk a couple months ago for Brisbane Tech Newbies regarding the issues of a fixed mindset, the benefits of a growth mindset and some methods for teaching yourself how not to feel like a developer 'impostor'.

Let me know if you'd be interested in giving this talk or if it's not the right fit.

A copy of the slides can be found:

[2018-05-03 11:17] ridget opened #140 "Make the change easy, this might be hard. Then make the easy change."
Sometimes your design choices suck. Sometimes you get an opportunity to fix them.

Let's take a walk through a less than optimal design choice, why it was a bad decision in hindsight, and how we refactored our way out to a better place in order to deliver a new feature.

We're going to learn about everything from maintaining a good separation of concerns, pre-planning, refactoring techniques, and

[2018-05-03 23:28] ridget commented on #139
@jawdinmorris This sounds great! Can we confirm you for the meetup on the 22nd of May?

[2018-05-03 23:47] michael-harrison commented on #139
+1

[2018-05-04 00:44] jawdinmorris commented on #139
@ridget That sounds great! It takes about 15 minutes so far so would be perfect for just a lightening talk.

[2018-05-04 00:45] jawdinmorris commented on #140
As a new developer petrified by design decisions i'm very interested in this.

[2018-05-21 05:09] jawdinmorris commented on #139
Hi, just confirming if you wanted me to present tomorrow night?

[2018-05-21 05:16] ridget commented on #139
@jawdinmorris apologies for not following up, yes please!

[2018-05-21 05:18] jawdinmorris commented on #139
No worries @ridget, see you tomorrow night :)

[2018-05-21 05:18] #139 closed, assigned to nobody

[2018-06-15 23:38] Mbuckley0 opened #141 "Discussion Panel"
@drnic @tatey @codesoda Would the three of you be interested in being on a panel at the next meetup on the 26th discussing questions around programming and the software industry such as how do you go about growing teams, dealing with different programming scenarios such as security, etc.

[2018-06-15 23:39] codesoda commented on #141
I’m keen

On Sat, 16 Jun 2018 at 9:38 am, Mitchell Buckley <notifications@github.com>
wrote:

--

Chris Raethke

Phone (US): (415) 741-2640 <https://compose.mixmax.com/message/+14157412640>

Phone (AU): (0402) 796-187 <javascript:void(0);>

Linkedin: chrisraethke <https://www.linkedin.com/in/chrisraethke>

[2018-06-17 03:17] drnic commented on #141
I’m away next week; should be about for July meetup. Sorry!

Nic

________________________________
From: Chris Raethke <notifications@github.com>
Sent: Saturday, June 16, 2018 9:39:10 AM
To: BrisRuby/meetups
Cc: Dr Nic Williams; Mention
Subject: Re: [BrisRuby/meetups] Discussion Panel (#141)

I’m keen

On Sat, 16 Jun 2018 at 9:38 am, Mitchell Buckley <notifications@github.com>
wrote:

--

Chris Ra

[2018-06-17 11:44] tatey commented on #141
Hey Mitchell,

Thanks for reaching out. I can do June or July.

Cheers,
Tate

[2018-06-19 04:39] Mbuckley0 commented on #141
@geoffreyd Would you be interested in participating in this?

[2018-06-19 23:23] geoffreyd commented on #141
@Mbuckley0 Sure 👍

[2018-06-20 06:09] Mbuckley0 commented on #141
Excellent. I will organise this to take place at next weeks meetup.

[2018-07-19 10:48] elliotthilaire opened #142 "On writing <%=code%>"
Hello BrisRuby,

I’d like to share with you a talk I have been growing.

I’ve been learning more about writing clearly and in ways that cannot be misunderstood.

This talk shares learnings from books such as:

On Writing Well–William Zinsser
On Writing–Stephen King
The Sense of Style–Steven pinker

I also look at ways these translate to programming.

I don’t live in Brisbane but I am planning to v

[2018-09-04 20:53] codesoda commented on #137
Did this talk already happen?

[2018-09-11 08:01] Mbuckley0 commented on #142
@elliotthilaire Sounds great. Are you able to do this talk at this months meetup?

[2018-09-14 06:23] elliotthilaire commented on #142
@Mbuckley0 Yes. I'll be there and can do the talk.
I think allow a ~30 min slot.

Anything more you need to know?

[2018-09-17 10:21] Mbuckley0 commented on #142
@elliotthilaire That's all I need. Thanks. See you next week.

[2018-09-17 21:57] ridget commented on #142
➕ this talk sounds fantastic.

[2018-10-20 11:16] drnic opened #143 "Proposal: deploy Ruby apps to Kubernetes"
More and more Kubernetes is being introduced to small and large organizations. We’ll have a quick introduction to Kubernetes and a new layer that’s even more delightful: Google’s open source Knative platform.

[2018-10-21 11:18] michael-harrison commented on #143
+1

[2018-10-21 23:52] AshAngell commented on #143
+1

[2018-10-21 23:52] toddoxford commented on #143
+1

[2018-11-13 03:35] Mbuckley0 commented on #143
@drnic Sounds great. Would you be able to give this talk at this months Brisruby and how long do you think it would go for?

[2018-11-13 03:48] drnic commented on #143
Yep I can talk. You let me know how long you'd like me to talk and we'll see how far we get through https://starkandwayne.com/blog/introduction-to-knative/

[2018-11-13 10:05] Mbuckley0 commented on #143
@drnic Does 20-30 minutes sound good to you?

[2018-11-13 21:02] drnic commented on #143
Ok

________________________________
From: Mitchell Buckley <notifications@github.com>
Sent: Tuesday, November 13, 2018 8:05:28 PM
To: BrisRuby/meetups
Cc: Dr Nic Williams; Mention
Subject: Re: [BrisRuby/meetups] Proposal: deploy Ruby apps to Kubernetes (#143)

@drnic<https://github.com/drnic> Does 20-30 minutes sound good to you?

—
You are receiving this because you were mentioned.
Reply to this

[2018-11-22 01:56] kimburgess opened #144 "Concurrent programming in Ruby"
Mentioned briefly on the Slack channel, but popping it here for all to see...

Happy to pop together a gentle introduction to concurrency models, parallelism and writing code that does many things at once.

If there's particular areas or concepts that anyone is particularly shading on or interested in, I'd love to hear about it in the comment below. Will try to keep limited to things that you can

[2019-02-17 10:33] gizotti opened #145 "Event Sourcing"
Apparently this is the new old cool thing, but what is Event Sourcing exactly, when when should we use?

[2019-02-18 02:32] Mbuckley0 commented on #145
@gizotti Sounds great. Are you able to do this talk next Tuesday the 26th?

[2019-02-18 03:16] gizotti commented on #145
Are you happy with rushed slides? Im happy with the date if you are happy with simple slides lol

[2019-04-15 12:02] #145 closed, assigned to nobody

[2020-02-14 06:31] ecoologic commented on #144
anything ruby 3 sounds great.  We handle much of the cuncurrency via sidekiq (so, we don't do it ourselves), but I've spawn up some thread at times for scripting work, so I'd surely enjoy the talk.

[2020-02-14 06:37] ecoologic opened #146 "Proposal? Service object talk (again?)"
I'm giving a quick talk (~20m) in my company about services, so I have it ready and I can present it to the meetup too.

It goes:

1) A touch of restful
2) MVC frameworks
3) Why fat models don't work in big apps (circular dependency)
4) How to solve circular dependency
5) Service is a strange name (why not Go4 Operation)
6) Naming, folder structure
7) A real world example

I'm sure many of us are

[2020-02-14 06:41] ecoologic commented on #140
:+1:

[2020-02-14 07:26] papz opened #148 "Let's add our notes for the January 2020 meetup"
Hey I've created a PR to get our last meeting's notes down.

If somebody has the list @nigelr it would be great to get them on this page.

#147

[2020-02-14 07:26] kimburgess commented on #144
Glad it sounds interesting!

I presented this at BrisRuby a little while back. Unfortunately I can't recall if it was recorded, but my (very sparse) slides and notes are here in case they're of use / interest: https://slides.com/kimburgess/concurrent-ruby.

[2020-02-19 05:00] papz commented on #146
I'd like to see this just to let you know, but I'll prob miss it as I won't be there until April.

[2020-02-23 06:42] nigelr commented on #146
@ecoologic any chance you can do this on Tuesday?

[2020-02-23 23:52] ecoologic commented on #146
@nigelr - Sure.  Is there a whiteboard at the library? (I don't have slides, I'd like to be able to sketch a few concepts)

[2020-02-25 11:21] #146 closed, assigned to nobody

[2021-03-30 00:35] stuart opened #149 "GraphQL"
I've had the need / opportunity to delve into the world of [GraphQL](https://graphql-ruby.org/). I'd like to share my learnings, experiences and feelings about this in the next meetup.

[2021-03-30 07:01] nigelr commented on #149
Sounds Great, can I put you down for May meetup?

[2021-07-07 02:55] drnic opened #150 "Talk proposal: Making URLs look awesome when people share them"
When someone sends you a URL via any social app it might look dull, or it might be presented as an image, with title and description. How does this magic work, and how do we add it to our websites?

The Open Graph protocol was invented by Facebook so that any URL, when shared within FB, could be made to look more like Facebook -- the title, description, canonical URL, AND a glamourous 1x1.91 aspec

[2022-02-10 04:39] #148 closed, assigned to nobody